* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: lightcoral;
    height: 10vh;
    position: sticky;
    top: 0;
    border: 2px solid lightslategray;
}

main{
    background-color: blanchedalmond;
    height: 100vh;
}

footer{
    background-color: lightslategray;
    height: 10vh;
}

.contato{
    height: 10vh;
    width: 10vh;
    background-color: green;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;

}