header{
    border-bottom: 1px solid black;
  }
  
  main{
    width: 800px;
  }

  main{
    height: 200vh;
  }
  
  aside{
    width: 180px;
    border: 1px solid black;
    position: fixed;
    right: 10px;
    text-align: center;
  }
  
  footer{
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
  }
  
  button{
    background-color: black;
    color: white;
    font-family: serif;
  }

  button:active{
    background-color: white;
    color: black;
  }

  header, section{
    text-align: center;
  }